h1{
	color:#58a;
	font-size:3em;
	text-align:center;
	margin-bottom:30px;
	
}

.wrapper{
	position:relative;
}
.wrapper>div{
	margin:10px 10px 10px 30px;
	float:left;
	position:relative;
	width:calc(50% - 50px);
	height:400px;
	background:rgb(234,253,253);
	border:1px rgb(227,216,253) solid;
	color:green;
	font-size:1.5em;
	overflow:hidden;
	text-align:center;
}

div a{
	display:block;
	text-decoration:none;
	color:green;
	margin-bottom:20px;

}
.fig{
	margin:0 auto;
}
.fig img{
	width: 100%;
	min-height: 300px;
	height:auto;
	}

a:hover{
	color:rgb(91,53,93);
}
div a:nth-child(3){
	position:absolute;
	right:0;
	font-size:1em;
	
}	
.footer{
	clear:both;
	width:100%;
	height:100px;
	margin-top:20px;
	background:rgb(234,253,253);
	color:green;
	position:relative;
}
.footer h2{
	margin:10px 0 10px;
}
.footer span{
	margin:0 20px 10px 20px;
	font-size:1em;
}